/*
 * Admin stuff
 */
#logout { position:fixed;
	top:0px;  
	right:0px; }

form#uploadform { position:absolute;
	top:-500px; } 

ul#menu { display:inline; 
	width:200px; 
	float:left; }

	ul#menu li { color:#777; 
		cursor:pointer; }
	ul#menu li:hover { color:#000; }

.gallery { display:inline-block; 
	float:left; }

.curtain { display:none; 
	position:fixed; 
	top:0px; left:0px;  
	width:100%; 
	height:100%; 
	background-color:rgba(0,0,0,.2); 
	z-index:1001; }
	.curtain .box { display:block; 
		position:fixed; 
		top:50%; left:50%; 
		width:400px; 
		height:150px; 
		margin-left:-200px; 
		margin-top:-75px; 
		background-color:#fff; }

.submit { cursor:pointer; }

progress { display:none; }

.status { display:block;
		position:relative; 
		top:4px;  
		width:120px; 
		float:left; 
		padding-left:10px; 
		z-index:1; }
		
		.status .button#slide {
			display:inline-block; 
			width:40px; 
			height:10px; 
			border-radius:20px; 
			border:1px solid #ccc; 
			background-color:#f3f3f3; }
		.status .submit#knob {
			display:inline-block; 
			position:relative; 
			top:-11px; 
			left:-11px; 
			width:10px; 
			height:10px; 
			border-radius:20px; 
			border:1px solid #ccc; 
			background-color:#fff; 
			cursor:pointer; }
		.status .label { 
			display:inline-block; ; 
			font-size:9pt; 
			font-style:italic; 
			color:#aaa; 
			line-height:27px; 
			vertical-align:top; 
			padding-left:5px; }
