/*
 * Admin stuff
 */
body { background-color:#ccc; 
	background-image:url('../_imgs/adminbg.png'); }

form#uploadform { position:absolute;
	top:-500px; } 

section {padding:0px; }

ul#menu { display:inline; 
	width:200px; 
	float:left; 
	/*border:1px solid red; */
	font-size:10pt; 
	padding:0px; }

	ul#menu li { cursor:pointer; 
		/*border:1px solid blue; */
		padding:8px; 
		margin:8px; 
		color:#666; 
		background-color:rgba(255,255,255,0.7); }
	ul#menu li:hover { color:#333; 
		background-color:#fff; } 

	ul#menu li#addProject { color:#fff; 
		background-color:#33d8a7; } 
	ul#menu li#addProject:hover { background-color:#44e9b8; }

	ul#menu li .entrytype { font-family:awesome; 
		padding:0px; 
		padding-right:5px; }

.gallery, .preview { display:inline-block; 
	float:left; 
	background-color:#fff; 
	border-left: 1px solid #ccc; }

/* EDTING GALLERY STYLES */ 
	.gallery #newname { width:400px; 
		font-size:14pt; }
	.gallery .types { font-size:10pt; }
	.gallery .types .type, .gallery .types .type_sel { 
		display:inline-block; 
		padding:5px; margin:5px; 
		border-radius:20px; } 
	.gallery .types .type { border:1px solid #ddd; 
		background-color:#fff; }
	.gallery .types .type_sel { border:1px solid #09f; 
		background-color:rgba(0,144,255,0.2); }
	.gallery .types input { margin:0px; }
	.gallery #newdesc { width:480px; }

.gallery img { max-width:500px; }

	.preview { padding:0px; 
		overflow-y:auto; } 
	.preview content { display:block; 
		padding:0px; }

.curtain { display:none; 
	position:fixed; 
	top:0px; left:0px;  
	width:100%; 
	height:100%; 
	background-color:rgba(0,0,0,.2); 
	z-index:1001; }
	.curtain .box { display:block; 
		position:fixed; 
		top:50%; left:50%; 
		width:400px; 
		height:150px; 
		margin-left:-200px; 
		margin-top:-75px; 
		background-color:#fff; }

.submit { cursor:pointer; }

/*progress { display:none; }*/

.status { display:inline-block;
		position:relative; 
		top:-4px; 
		left:45px;
		width:120px; 
		float:right; 
		padding-right:0px; 
		z-index:1; }
		
		.status .button#slide {
			display:inline-block; 
			width:40px; 
			height:10px; 
			border-radius:20px; 
			border:1px solid #ccc; 
			background-color:#f3f3f3; }
		.status .submit#knob {
			display:inline-block; 
			position:relative; 
			top:-11px; 
			left:-11px; 
			width:10px; 
			height:10px; 
			border-radius:20px; 
			border:1px solid #ccc; 
			background-color:#fff; 
			cursor:pointer; }
		.status .label { 
			display:inline-block; ; 
			font-size:9pt; 
			font-style:italic; 
			color:#aaa; 
			line-height:27px; 
			vertical-align:top; 
			padding-left:5px; }
