@font-face { font-family:hype; src:url('_fonts/HYPE.ttf'); }
@font-face { font-family:hype_bold; src:url('_fonts/HYPE_bold.ttf'); } 
@font-face { font-family:webly; src:url('_fonts/weblysleekuil.ttf'); } 
@font-face { font-family:webly_semi; src:url('_fonts/weblysleekuisl.ttf'); }
@font-face { font-family:webly_bold; src:url('_fonts/weblysleekuisb.ttf'); }
@font-face { font-family:social; src:url('_fonts/social.ttf'); }
@font-face { font-family:awesome; src:url('_fonts/fontawesome-webfont.ttf'); }

/*
 * HTML defaults
 */ 

* { margin:0px; padding:10px; }

html { padding:0px; }
body { color:#333; 
	font-family:webly; 
	font-size:12pt; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	cursor:default; 
	padding:0px; 
	padding-top:40px; 
	background-color:#fafafa; }

a { cursor:pointer; }

input, textarea { border:1px solid #ddd; 
	outline:none; 
	resize:none; 
	margin:5px; } 
	input:focus, textarea:focus { box-shadow:0px 0px 5px rgba(0,144,255,0.5); 
		border:1px solid rgba(0,144,255,0.6); }

h1 { display:block; 
	font-family:webly_bold; 
	font-size:24pt; 
	color:#333; }

img { max-width:400px; 
	max-height:300px; 
	margin:10px; }


/*
 * HTML secions and modules
 */
nav { display:block;
	position:fixed; 
	top:0px; left:0px; 
	width:100%;  
	background-color:#fff; /*#ddd; */ 
	color:#aaa; 
	border-bottom:1px solid #eee; 
	z-index:999; }

/*nav { background-color:#444; }*/
nav a { color:#aaa; text-decoration:none; 
	padding-left:8px; padding-right:8px; 
	margin-left:2px; margin-right:2px; }
nav a:hover { color:#09f; background-color:#fafafa; }

nav a#home { font-family:hype; 
	font-size:18pt; 
	position:relative; top:3px; 
	padding:13px 7px 5px 7px;
	line-height:10px; }

#logout { position:fixed;
	top:0px;  
	right:0px; }

section { display:block; 
	background-color:#fff; }
	section:first-child { padding-top:100px; }
	/*section:nth-child(2n+1) { background-color:#ecf7ff; }*/

content { display:block; 
	/*width:1000px; */
	margin:auto; }

.middle, .entry { display:block; 
	width:1000px; 
	padding:0px; 
	margin:auto; }

	.entry { width:700px; }

.cover { display:inline-block; 
	width:180px; height:180px; 
	border-radius:180px; 
	vertical-align:middle; 
	text-align:center; 
	background-size:cover; 
	background-position:center center; 
	text-decoration:none; }

.covertext { display:inline-block; 
	position:relative; 
	top:-10px; left:-10px; 
	width:180px; height:180px; 
	border-radius:180px; 
	vertical-align:middle; 
	font-family:hype; 
	color:rgba(255,255,255,0); 
	text-decoration:none; 
	background-color:rgba(0,0,0,.2); 
	line-height:180px; 
	transition-property: initial;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	transition-delay: 0s;
	-webkit-transition-property:initial;
	-webkit-transition-duration:0.15s;
	-webkit-transition-timing-function:linear;
	-webkit-transition-delay:0s; }

.cover:hover .covertext { color:#fff; 
	text-shadow:0px 0px 5px #000; 
	background-color:rgba(0,0,0,.5); }


/* Grid */ 
#GridTags { width:1000px; 
	margin:auto; 
	text-align:center; }
#Grid .mix { opacity:0; display:none; }
li.filter { list-style-type:none; 
	display:inline-block; 
	padding:8px; 
	margin:1px; 
	border:1px solid #eee;
	background-color:#fff;  
	border-radius:30px; 
	cursor:pointer; 
	text-align:middle; 
	min-width:50px; 
	font-size:11pt; 
	text-align:center; }
	li.filter:hover { color:#fff; 
		background-color:#39ebb6; 
		border:1px solid #fff; } 

/* Social buttons */ 
.social a { color:rgba(255,255,255,0.4); 
	/*transition-duration: 0.08s;*/ }
.social a:hover { text-shadow:0px 0px 15px rgba(255,255,255,0.4); }

.footer { border-top:1px solid #eee; 
	background-color:#fafafa; }